<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @benefit.value %>
</p>

<p>
  <strong>Benefit type:</strong>
  <%= @benefit.benefit_type_id %>
</p>

<p>
  <strong>Employment:</strong>
  <%= @benefit.employment_id %>
</p>

<%= link_to 'Edit', edit_benefit_path(@benefit) %> |
<%= link_to 'Back', benefits_path %>
