
<%= simple_form_for(@service) do |f| %>
  <div class="card card-outline card-info">
    <div class="card-header">
      <h3 class="card-title">
        Dados do <%= object.class.model_name.human %> 
        <%= link_to 'Cancelar', eval_with_rescue("#{controller_name}_path"), class: "btn btn-default btn-xs" %>
        <%= f.submit 'Salvar', class: "btn btn-info btn-xs" %>
      </h3>
    </div>

    <div class="card-body">
      <div class="row">     
      <%= f.association :construction, label_method: :full_description, wrapper_html: { class: 'col-md-6' } %>
      <%= f.association :task_type, label_method: :full_description, input_html: { class: 'select2' }, wrapper_html: { class: 'col-md-6' } %>
      <%= f.association :service_type, wrapper_html: { class: 'col-md-4' } %>
      <%= f.input :description, wrapper_html: { class: 'col-md-8' } %>
      <%= f.input :expected_date, html5: true,  wrapper_html: { class: 'col-md-3' } %>
      <%= f.input :start_date, html5: true,  wrapper_html: { class: 'col-md-3' } %>
      <%= f.input :end_date, html5: true,  wrapper_html: { class: 'col-md-3' } %>
      <%= f.input :total_price, wrapper_html: { class: 'col-md-3' } %>
      <%= f.association :provider, label_method: :company_name, wrapper_html: { class: 'col-md-3' } %>
      </div>
    </div>  
  </div>

  <div class="card card-outline card-info">
    <div class="card-footer">
      <%= f.submit class: "btn btn-info" %>
      <%= link_to 'Cancelar', eval_with_rescue("#{controller_name}_path"), class: "btn btn-default" %>
    </div>
  </div>

<% end %>

