<%= render 'shared/show', box_class: 'info', object: @employment %>

<div class="card card-outline card-info">
  <div class="card-header">
    <h3 class="card-title">
      Benefícios
    </h3>
  </div>
  <div class="table">
    <div id="beneficios" class='row'>
      <div class="card-body">  
      <table class="table table-bordered table-striped no-padding datatables">
        <thead>
          <tr>
            <th width="15%">Tipo de Benefício</th>
            <th>Valor</th>
          </tr>
        </thead>
        <tbody>
        <% @employment.benefits.each do |d| %>
          <tr>     
              <td><%= d.benefit_type.name %> </td>  
              <td><%= d.value %> </td>  
          </tr>
        <% end %>
        </tbody>
      </table>          
      </div>
    </div>
  </div>
</div>  


<div class="card card-outline card-info">
  <div class="card-header">
    <h3 class="card-title">
      Construções
    </h3>
  </div>
  <div class="table">
    <div id="beneficios" class='row'>
      <div class="card-body">  
      <table class="table table-bordered table-striped no-padding datatables">
        <thead>
          <tr>
            <th width="15%">Local de Trabalho</th>
            <th>Tipo de Construção</th>
            <th>Área (m²)</th>
            <th>Data de Início</th>
            <th>Data de Término</th>
          </tr>
        </thead>
        <tbody>
        <% @employment.constructions.each do |c| %>
          <tr>     
              <td><%= c.workplace.name %> </td>  
              <td><%= c.construction_type.name %> </td> 
              <td><%= c.area %> </td>
              <td><%= c.start_date %> </td>
              <td><%= c.end_date %> </td>   
          </tr>
        <% end %>
        </tbody>
      </table>          
      </div>
    </div>
  </div>
</div>  




<div class="card card-outline card-info">
  <div class="card-header">
    <h3 class="card-title">
      Tarefas  
    </h3>
  </div>
  

  <div class="card-body p-0">  
    <table class="bootstrap-table-mobile">
      <thead>
        <tr>
          <th data-align='center'>ID</th>
          <th data-align='center'>Etapa</th> 
          <th data-align='center'>Tipo de Tarefa</th>
          <th data-align='center'>Data de Início</th>
          <th data-align='center'>Data de Fim</th>
          <th data-align='center'>Orçamento Previsto</th>
          <th data-align='center'>Custo Real</th>
          <th data-align='center'>Status</th>
          <th data-align='center'>Ações</th>

        </tr>
      </thead>
      <tbody>
        <% @employment.tasks.each do |t| %>
          <tr>     
            <td> 
                <%= link_to construction_task_path(t.construction) do %>
                  <%= t.id %></i> 
                <% end %>    
            </td>    
           
            <td><%= t.task_type.stage.name %></td>
            <td><%= t.task_type.name %></td>
            <td><%= t.start_date %></td>  
            <td><%= t.end_date %></td>  
            <td><%= t.budget_amount %></td>
            <td><%= t.cost %></td>
            <td><%= t.status %></td>
            <td> 
              <%= link_to construction_task_path(t.construction), class: "btn btn-xs btn-info" do %>
                Visualizar </i> 
              <% end %>    
            </td>    
          </tr>
        <% end %>
      </tbody>
    </table>          
  </div>
</div> 

