<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @purchase_item.amount %>
</p>

<p>
  <strong>Unity price:</strong>
  <%= @purchase_item.unity_price %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @purchase_item.total_price %>
</p>

<p>
  <strong>Material:</strong>
  <%= @purchase_item.material_id %>
</p>

<p>
  <strong>Purchase:</strong>
  <%= @purchase_item.purchase_id %>
</p>

<%= link_to 'Edit', edit_purchase_item_path(@purchase_item) %> |
<%= link_to 'Back', purchase_items_path %>
