<%= render 'shared/show', box_class: 'info', object: @purchase%>


<div class="card card-outline card-info">
  <div class="card-header">
    <h3 class="card-title">
     Itens da Compra
    </h3>
  </div>
  

  <div class="card-body p-0">  
    <table class="bootstrap-table-mobile">
      <thead>
        <tr>
          <th data-align='center'>ID</th>
          <th data-align='left'>Quantidade</th> 
          <th data-align='left'>Preço Unitário</th>
          <th data-align='left'>Preço Total</th>
          
        </tr>
      </thead>
      <tbody>
        <% @purchase.purchase_items.each do |t| %>
          <tr>           
            <td><%= t.id %></td>
            <td><%= t.amount %></td>
            <td><%= t.unity_price %></td>
            <td><%= t.total_price %></td>   
          </tr>
        <% end %>
      </tbody>
    </table>          
  </div>
</div> 